{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>{{ title }}</p>
    <br><br>
    <form action="/login" method="POST">
      Email:
      <input type="email" name="email" placeholder="Your Email" required autofocus>
      <br>
      Password:
      <input type="password" name="password" placeholder="Password goes here" required>
      <br><br>
      <input type="submit" value="Submit">
    </form>

    <div class="row">
      <a href='/register'>Register</a>
    </div>

    {% if email %}
    <div class="row">
      <a href="/logout">Logout</a>
    </div>
    {% endif %}

    {% if message.length %}
    <div class="container">
      <p>{{ message[0].message }}</p>
    </div>
    {% endif %}

  </div>

{% endblock %}
